spacy==3.8.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
--index-url=https://download.pytorch.org/whl/cpu
--extra-index-url=https://pypi.org/simple
# torch==2.2.2
torch
